<html>
    <head>
        <script src="https://kit.fontawesome.com/c9acfba105.js" crossorigin="anonymous"></script>
        <script src="js/jquery.js"></script>
        <script src="js/ptTimeSelect.js"></script>
        <link rel="stylesheet" href="css/add-activity.css">
        <link rel="stylesheet" href="css/nav-bar.css">
        <link rel="stylesheet" href="css/ptTimeSelect.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id='root-div'>
            <div id='content-div'>
                <div id='title-bar'>
                    <div id='hamburger-bar'>
                        <i class="fas fa-bars" id='hamburger-button'></i>
                    </div>
                </div>

                <div id='nav-bar' style='display:none;'>
                    <i class="fas fa-times" id='nav-close'></i>
                    <ul id='nav-bar-list'>
                        <li><a href='/home'>Home</a></li>
                        <li><a href='/add'>Add Activity</a></li>
                        <li><a href='/report'>Report</a></li>
                        <li><a href='/details'>All Activities</a></li>
                        <li><a href='/settings'>Settings</a></li>
                        <li><a href='/help'>Help</a></li>
                        <li><a href='/'>Log Out</a></li>
                    </ul>
                </div>

                <h1 style="margin-top: 5px;">Add Activity</h1>
                <form action="/addConfirmation" id='activity-form'>
                <div id='adding-box'>
                    <div class='form-entry'>
                        <label>Activity Name</label>
                        <input name='activityName' type='text' id='activityNameInput' />
                    </div>
                    <div class='form-entry'>
                        <label for="type">Type</label>
                        <select name="type" id="typeInput">
                            {{#each options}}
                            <option value="{{type}}">{{type}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class='form-entry'>
                        <label>Starting Time</label>
                        <input name='startTime' id='startTimeInput' autocomplete="off" />
                    </div>
                    <div class='form-entry'>
                        <label>Stopping Time</label>
                        <input name='endTime' id='endTimeInput' autocomplete="off" />
                        <p id='warning-text'>+1 day</p>
                    </div>
                    </div>
                    <div class='form-entry'>
                        <input type='submit' value='Add' id='form-submit' />
                    </div>
                    <div class='form-entry'>
                        <p id='error-text'></p>
                    </div>
                </form>
            </div>
        </div>

        <div id='add-confirmation-top'>
            <div id='add-confirmation-div'>
                Are you sure you want to submit the activity?<br>
                <div id='add-confirmation-submit'>Submit</div>
                <div id='add-confirmation-cancel'>Cancel</div>
            </div>
        </div>
    </body>

    <script src='js/navbar.js'></script>
    <script src='js/cookies.js'></script>
	<script>
		var username = getCookie('username', document.cookie);
		if(username === '') {
			// Not logged in
			window.location.href = '/';
		}
	</script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('input[name="startTime"]').ptTimeSelect();
            $('input[name="endTime"]').ptTimeSelect();

            // user warning about time day wrap around
            $('#ptTimeSelectSetButton').click((e) => {
                var startTime = $('#startTimeInput').val();
                var endTime = $('#endTimeInput').val();
                if(startTime !== '' && endTime !== '') {
                    var parts = startTime.split(/[: ]/);
                    var startHour = parseInt(parts[0]);
                    var startMin = parseInt(parts[1]);
                    var startTime = parts[2];
                    parts = endTime.split(/[: ]/);
                    var endHour = parseInt(parts[0]);
                    var endMin = parseInt(parts[1]);
                    var endTime = parts[2];

                    if(startHour !== 12 && startTime === 'PM') startHour += 12;
                    if(endHour !== 12 && endTime === 'PM') endHour += 12;
                    if(startHour === 12 && startTime === 'AM') startHour = 0;   // 12:00 am is 0:00 am
                    if(endHour === 12 && endTime === 'AM') endHour = 0;
                    console.log("Test", startHour, startMin, startTime, endHour, endMin, endTime);
                    if(startHour > endHour || startHour === endHour && startMin > endMin) {
                        console.log("Wrap around");
                        $('#warning-text').css('visibility', 'visible');
                    } else {
                        $('#warning-text').css('visibility', 'hidden');
                    }
                }
            });

            // on click submit, check error
            $('#form-submit').click((e) => {
                e.preventDefault();

                if($('#endTimeInput').val().trim() === '') {
                    $('#error-text').text("Please select end time");
                    $('#error-text').css("visibility", "visible");
                }
                if($('#startTimeInput').val().trim() === '') {
                    $('#error-text').text("Please select start time");
                    $('#error-text').css("visibility", "visible");
                }
                if($('#activityNameInput').val().trim() === '') {
                    $('#error-text').text("Activity name can't be empty");
                    $('#error-text').css("visibility", "visible");
                }

                // Show confirmation
                $('#add-confirmation-top').css('visibility', 'visible');
            });

            // Register confirmation buttons
            $('#add-confirmation-submit').click((e) => {
                $("#activity-form").submit();
            });
            $('#add-confirmation-cancel').click((e) => {
                $('#add-confirmation-top').css('visibility', 'hidden');
            });
        });
    </script>
</html>