<html>
    <head>
        <script src="https://kit.fontawesome.com/c9acfba105.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/add-activity.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id='root-div'>
            <div id='content-div'>
                <div id='title-bar'>
                    <i class="fas fa-arrow-left" id='back-arrow'></i>
                    <h1>Add Activity</h1>
                </div>
                <form action="/activity.html" id='activity-form'>
                    <div class='form-entry'>
                        <label>Activity Name</label>
                        <input type='text' />
                    </div>
                    <div class='form-entry'>
                        <label for="type">Type</label>
                        <select name="type" id="type">
                            <option value="work">Work</option>
                            <option value="school">School</option>
                            <option value="fun">Fun</option>
                            <option value="family">Family</option>
                            <option value="more">See More</option>
                        </select>
                    </div>
                    <div class='form-entry'>
                        <label>Starting Time</label>
                        <input type='time' />
                    </div>
                    <div class='form-entry'>
                        <label>Stopping time</label>
                        <input type='time' />
                    </div>
                    <div class='form-entry'>
                        <input type='submit' value='Add' id='form-submit' />
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>