<html>
    <head>
        <script src="https://kit.fontawesome.com/c9acfba105.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/weekly-report.css">
        <link rel="stylesheet" href="css/nav-bar.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap" rel="stylesheet">
        <script src="js/jquery.js" type="text/javascript"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id='root-div'>
            <div id='content-div'>
                <div id='title-bar'>
                    <div id='back-bar'>
                        <a href='/home'><i class="fas fa-arrow-left" id='back-arrow'></i></a>
                    </div>
                    <div id='hamburger-bar'>
                        <i class="fas fa-bars" id='hamburger-button'></i>
                    </div>
                </div>

                <div id='nav-bar' style='display:none;'>
                    <i class="fas fa-times" id='nav-close'></i>
                    <ul id='nav-bar-list'>
                        <li><a href='/home'>Home</a></li>
                        <li><a href='/add'>Add Activity</a></li>
                        <li><a href='/report'>Report</a></li>
                        <li><a href='/'>Log Out</a></li>
                    </ul>
                </div>

                <h1>Weekly Report</h1>
                <div id='options'>
                    <select id="week">
                        <option value="1">Week 1</option>
                        <option value="2">Week 2</option>
                        <option value="3">Week 3</option>
                    </select>
                    <select id="scale">
                        <option value="average">On average</option>
                        <option value="total">In total</option>
                    </select>
                </div>
                {{#if hasData}}
                <!-- Dynamically filled -->
                <canvas id='chart' width=200px height=200px></canvas>

                <!-- Dynamically generated -->
                <ul id='list'></ul>

                <div id='buttons'>
                    <select id="chart-type">
                        <option value="pie">Pie Chart</option>
                        <option value="bar">Bar Chart</option>
                    </select>
                    <br>
    
                    <!-- Put as div for now, not sure how to show results yet -->
                    <div id='detail-button'>
                        Details
                    </div>
                    <br>
                    <div id='suggestion-button'>
                        Suggestions
                    </div>
                    <br>
                </div>
                {{else}}
                <div id="no-data-div">
                    <h2 id='no-data-title'>There's no data yet!</h2>
                    <a href='/add'><div id='add-button'>
                        Add Activity
                    </div></a>
                </div>
                {{/if}}
            </div>
        </div>
    </body>

    <script src='js/navbar.js'></script>
    <script src='js/cookies.js'></script>
	<script>
		var username = getCookie('username', document.cookie);
		if(username === '') {
			// Not logged in
			window.location.href = '/';
		} else {
			document.getElementById('username').innerText = username;
		}
	</script>

    <!-- Script that draws content based on response -->
    <script>
        const hourDay = 24;

        // Passed from js controller
        var activities = [
            {{#each data}}
            {
            "name": "{{name}}",
            "color": "{{color}}",
            "count": {{count}},
            },
            {{/each}}
        ];

        // Document ready event
        $(document).ready(function() {
            // Draw pie chart
            drawPieChart();

            // Populate list
            populateActivitiesList();
        });

        // Draw activity pie chart
        function drawPieChart() {
            var g = document.getElementById('chart').getContext('2d');

            // Angle var, align first activity to 0 degree
            var startAngle = -0.5*Math.PI;

            // Calculate percent
            var sum = 0.0;
            for(var i = 0; i < activities.length; i++) {
                sum += activities[i]["count"];
            }
            for(var i = 0; i < activities.length; i++) {
                activities[i]["percent"] = activities[i]["count"]/sum;
            }
            console.log("Calculated percents:", activities, sum);

            // Draw each arc
            for(var i = 0; i < activities.length; i++) {
                // Draw arc
                var addAngle = activities[i]["percent"]*Math.PI*2.0;
                console.log("Add angle:", addAngle);
                g.beginPath();
                g.moveTo(100,100);
                g.arc(100, 100, 100, startAngle, startAngle + addAngle);
                g.fillStyle = activities[i]["color"];
                g.fill();

                startAngle += addAngle;
            }
        }
    
        // Populate activities list
        function populateActivitiesList() {
            var list = document.getElementById("list");

            for(var i = 0; i < activities.length; i++) {
                var activity = document.createElement("li");
                var icon = document.createElement("span");
                activity.className = "list-entry";
                icon.style.backgroundColor = activities[i]["color"];
                activity.innerText = activities[i]["name"] + ": " + (activities[i]["count"]/3600).toFixed(2) + "h/day";
                activity.prepend(icon);
                list.appendChild(activity);
            }
        }
    </script>
</html>