body {
    font-family: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

#root-div {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#content-div {
    width: 100%;
}

#title-bar {
    font-size: 2em;
    margin-top: 10px;
}

#back-bar, #hamburger-bar {
    width: 48%;
    display: inline-block;
    box-sizing: content-box;
}

#back-bar {
    text-align: left;
}

#back-arrow {
    padding-left: 20px;
}

#hamburger-bar {
    text-align: right;
}

#hamburger-button {
    padding-right: 20px;
}

#back-arrow:hover {
    cursor: pointer;
}

#hamburger-button:hover {
    cursor: pointer;
}

#nav-bar {
    position: absolute;
    right: 0;
    padding-right: 10%;
    background-color: black;
    color: white;
    height: 100%;
    top: 0;
    text-align: left;
    padding-top: 100px;
}

#nav-bar-list {
    list-style: none;
}

#nav-bar-list li {
    padding-left: 10px;
    line-height: 2em;
}

#nav-bar-list li a {
    text-decoration: none;
    color: white;
}

#nav-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2em;
}

#activity-form {
    width: 80%;
    margin: 0 auto;
}

.form-entry {
    width: 80%;
    margin: 20px auto;
}

#activityNameInput, #typeInput, #startTimeInput, #endTimeInput {
    height: 30px;
}

#warning-text {
    color: #2196f3;
    text-align: left;
    margin-top: 5px;
    visibility: hidden;
}

#error-text {
    color: red;
    text-align: left;
    margin-top: 5px;
    visibility: hidden;
}

#form-submit {
    width: 80%;
    background-color: lightgray;
    padding: 5px;
    border: none;
    font-size: 1.2em;
}

#form-submit:hover {
    cursor: pointer;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
}

input {
    padding: 2px 5px;
}

@media only screen and (max-width: 1000px) {
    #root-div {
        width: 100%;
    }
}