
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

#root-div {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#content-div {
    width: 100%;
}