body {
    font-family: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

#root-div {
    width: 100%;
    margin: 0 auto;
}

#content-div {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#title-bar {
    font-size: 2em;
}

#back-bar, #hamburger-bar {
    width: 40%;
    display: inline-block;
    box-sizing: content-box;
}

#back-bar {
    text-align: left;
}

#hamburger-bar {
    text-align: right;
}

#back-arrow:hover {
    cursor: pointer;
}

#hamburger-button:hover {
    cursor: pointer;
}

#nav-bar {
    position: absolute;
    right: 0;
    padding-right: 15%;
    background-color: black;
    color: white;
    height: 100%;
    top: 0;
    z-index: -1;
    text-align: left;
    padding-top: 100px;
}

#options {
    width: 100%;
    margin: 10px 0;
}

#week, #scale {
    background-color: lightgray;
    box-sizing: content-box;
    border: none;
    padding: 5px;
    text-align: center;
}

#chart {
    margin: 20px 0;
}

#list {
    list-style: none;
    width: 80%;
    margin: 20px auto;
}

.list-entry {
    text-align: left;
    width: 300px;
    margin: 0 auto;
    padding-left: 100px;
    font-size: 1.2em;
}

.list-entry span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-right: 10px;
}

#buttons {
    width: 100%;
}

#chart-type {
    width: 60%;
    padding: 5px;
    box-sizing: content-box;
    background-color: lightgray;
    border: none;
    text-align: center;
    margin: 10px 0;
}

#detail-button, #suggestion-button {
    background-color: lightgray;
    padding: 5px;
    width: 60%;
    display: inline-block;
    margin: 10px 0;
}